* {
    font-family: sans-serif;
}

.container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img-container {
    width: 5%;
}

img {
    width: 100%;
}

.a-container {
    display: flex;
    justify-content: space-between;
    width: 60%;
}

header a {
    color: #303030;
    text-decoration: none;
    font-size: 10pt;
}

header a:hover {
    color: #0282f9;
}


main {
    width: 100%;
    background-color: black;

}

.p-container {
    background-color: black;
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

p {
    color: white;
}


footer {
    width: 100%;
    background-image: url(/assets/images/footer-bg.jpg);
}

.navbar-footer {
    width: 100%;
    background-color: #0282f9;
    padding: 1rem;
}

.navbar-container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content>img {
    width: 30px;
    margin: 0 1rem;
}

.content p {
    color: white;
    font-size: 8pt;
}

.footer-links {
    width: 80%;
    margin: auto;
    padding: 2rem;
    display: flex;
    color: white;
    background-image: url("../assets/dc-logo-bg.png");
    background-position: right;
    background-repeat: no-repeat;
}

.footer-links-col {
    width: 30%;
    display: flex;
    flex-direction: column;
}

.footer-links a {
    text-decoration: none;
    color: gray;
}

.fumetto {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 200px;
}

.immagine {
    width: 200px;
    height: 200px;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

.details {
    background-color: black;
    width: 80%;
    display: flex;
    color: white;
    flex-direction: column;
    padding: 1rem;

    .content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;


        .description {
            padding-left: 2rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            p {
                font-size: 12pt;
            }
        }
    }
}

.form {
    display: flex;
    flex-direction: column;
    padding: 1rem;

    .elimina {
        background-color: red;
    }

    .submit {
        background-color: green;
    }
}